<ion-view view-title="Configurações">
  <ion-content>
    <div class="row">
    	<div class="col">
	    	<button class="button button-block button-assertive" ng-click="resetarDevice()">
	    		<ion-icon class="ion-alert-circled"></ion-icon> Apagar Todos os Dados
	    	</button>
    	</div>
    </div>
    <!--
    <div class="row">
    	<div class="col col-50" ng-repeat="place in placeList track by $index">
	    	<button class="button button-block button-transparent" ng-click="goPlaceControl(place)">
	    		{{place}}
	    	</button>
    	</div>
    </div>
    -->
  </ion-content>
</ion-view>