<ion-view view-title="Configuração Inicial">
  <ion-content class="back-black padding">
  	<div class="color-white">
  		<h1 class="color-white">Bem Vindo ao App Kerk Control</h1>
  		<p>Por favor, desconecte seu dispositvo da rede 3G/4G e conecte-se apenas na rede Wireless Kerk para continuar.</p>
  	</div>
  	<div class="color-white padding-top">
  		<p>Você já se conectou na rede Wireless Kerk?</p>
  		<button class="button button-block button-positive" ng-click="startScan()">
  			<ion-icon class="ion-checkmark"></ion-icon> Sim!
  		</button>
  	</div>
  </ion-content>
</ion-view>