<ion-view view-title="Insira os dados da sua Residência">

  <div class="bar bar-header bar-calm">
    <button class="button button-icon icon ion-android-arrow-back" ng-click="goBack()"></button>
    <h1 class="title">Configurar Residência</h1>
  </div>

  <ion-content class="has-header padding background-kerk">
  	<div class="card">
      <div class="item item-text-wrap">
        <div>
      		<h1>Preencha os dados da sua Residência</h1>
          <p>Preencha o nome de sua Residência conforme seu gosto. Escolha também o local de instalação de seus dispositivo Kerk e lhe dê um nome.</p>
      	</div>
      	<div class="padding-top">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Nome da sua Residência</span>
              <input type="text" ng-model="home.name" placeholder="nome residência">
            </label>
            <label class="item item-input item-select">
              <div class="input-label">Local do Dispositivo</div>
              <select ng-model="home.devicePlace">
                <option ng-repeat="place in places track by $index" value="{{place}}">{{place}}</option>
              </select>
            </label>
            <label class="item item-input">
              <span class="input-label">Nome do Dispositivo</span>
              <input type="text" ng-model="home.deviceName" placeholder="nome dispositivo">
            </label>
          </div>
      	</div>
        <div class="padding-top">
          <p>Está tudo certo?</p>
          <button class="button button-block button-positive" ng-click="setHome()">
            <ion-icon class="ion-checkmark"></ion-icon> Sim!
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>