<ion-view view-title="Fim da Configuração">
  <ion-content class="back-black padding">
  	<div class="color-white">
  		<h1 class="color-white">Tudo certo!</h1>
  		<p>Agora você pode ligar seu 3G/4G e se conectar em sua rede Local prória!</p>
  	</div>
  	<div class="color-white padding-top">
  		<p>Você já se conectou na rede Local?</p>
  		<button class="button button-block button-positive" ui-sref="secondSetUp">
  			<ion-icon class="ion-checkmark"></ion-icon> Sim!
  		</button>
  	</div>
  </ion-content>
</ion-view>