<ion-view view-title="Fim da Configuração">
  <div class="bar bar-header bar-calm">
    <h1 class="title">Fim da Configuração</h1>
  </div>

  <ion-content class="has-header padding background-kerk">
    <div class="card">
      <div class="item item-text-wrap">
      	<div class="">
      		<h1 class="">Tudo certo!</h1>
      		<p>Agora você pode ligar seu 3G/4G e aproveitar seu Kerk Control!</p>
      	</div>
      	<div class="padding-top">
      		<button class="button button-block button-positive" ui-sref="app.main">
      			<ion-icon class="ion-checkmark"></ion-icon> Menu Principal
      		</button>
      	</div>
      </div>
    </div>
  </ion-content>
</ion-view>