<ion-view view-title="Registro">
  <ion-content>
  	<div class="item item-image" style="border: none;">
  		<img src="img/logo-branco.png">
  	</div>
  	<div class="row">
  		<div class="col">
  			<div class="card">
  				<div class="item item-divider">
  					Registre-se no Kerk Control
  				</div>
  				<div class="item item-text-wrap">
  					<div class="list" style="margin-bottom: 0;">
  						<label class="item item-input item-stacked-label">
  							<span class="input-label" style="width: 100%;"><ion-icon class="ion-ios-person-outline"></ion-icon> Seu nome completo:</span>
  							<input type="text" placeholder="nome completo">
  						</label>
  						<label class="item item-input item-stacked-label">
  							<span class="input-label" style="width: 100%;"><ion-icon class="ion-ios-email-outline"></ion-icon> Seu e-mail:</span>
  							<input type="text" placeholder="email@email.com">
  						</label>
  						<label class="item item-input item-stacked-label">
  							<span class="input-label" style="width: 100%;"><ion-icon class="ion-ios-locked-outline"></ion-icon> Sua senha:</span>
  							<input type="password" placeholder="senha">
  						</label>
  						<label class="item item-input item-stacked-label">
  							<span class="input-label" style="width: 100%;"><ion-icon class="ion-ios-locked-outline"></ion-icon> Confirmar senha:</span>
  							<input type="password" placeholder="senha">
  						</label>
  						<ion-checkbox>Li e Concordo com a Política de Privacidade</ion-checkbox>
  						<ion-checkbox>Li e Concordo com os Termos de Uso</ion-checkbox>
  						<button class="button button-block button-balanced">
  							Registrar
  						</button>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </ion-content>
</ion-view>
