<ion-view view-title="{{currentHome}}">
  <ion-content class="background-kerk" ng-class="{'has-footer': inConfig || newDevice}">
    <!--
    <div class="row">
    	<div class="col">
	    	<button class="button button-block button-transparent">
	    		<ion-icon class="ion-plus-round"></ion-icon> Adicionar Novo Dispositivo
	    	</button>
    	</div>
    </div>
    <div class="row">
    	<div class="col col-50" ng-repeat="place in placeList track by $index">
	    	<button class="button button-block button-transparent" ng-click="goPlaceControl(place)">
	    		{{place}}
	    	</button>
    	</div>
    </div>
    -->
    
    <div ng-show="!inConfig">
        <div class="row" ng-repeat="place in placeList track by $index">
            <div class="col">
                <div class="list card" ng-click="goPlaceControl(place)">
                    <div class="item item-image">
                        <img ng-if="place == 'Quarto Casal'" src="img/quarto-casal.jpg">
                        <img ng-if="place == 'Quarto Solteiro'" src="img/quarto-solteiro.jpg">
                        <img ng-if="place == 'Sala'" src="img/sala.jpg">
                        <img ng-if="place == 'Cozinha'" src="img/cozinha.jpg">
                        <img ng-if="place == 'Banheiro'" src="img/banheiro.jpg">
                    </div>
                    <div class="item item-divider">
                        <ion-icon class="ion-grid"></ion-icon> {{place}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="inConfig">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap">
                        Configure seu Kerk Control tocando no botão verde no rodapé do aplicativo.<br><br>
                        Caso já exista um Kerk Control configurado em sua residência, <a ui-sref="firstSetUpHome">clique aqui.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col">
            <div class="list card" ui-sref="placeControl">
                <div class="item item-image">
                    <img src="img/quarto-casal.jpg">
                </div>
                <div class="item item-divider">
                    <ion-icon class="ion-grid"></ion-icon> Quarto Casal
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list card">
                <div class="item item-image">
                    <img src="img/quarto-solteiro.jpg">
                </div>
                <div class="item item-divider">
                    <ion-icon class="ion-grid"></ion-icon> Quarto Solteiro
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list card">
                <div class="item item-image">
                    <img src="img/sala.jpg">
                </div>
                <div class="item item-divider">
                    <ion-icon class="ion-grid"></ion-icon> Sala
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list card">
                <div class="item item-image">
                    <img src="img/cozinha.jpg">
                </div>
                <div class="item item-divider">
                    <ion-icon class="ion-grid"></ion-icon> Cozinha
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list card">
                <div class="item item-image">
                    <img src="img/banheiro.jpg">
                </div>
                <div class="item item-divider">
                    <ion-icon class="ion-grid"></ion-icon> Banheiro
                </div>
            </div>
        </div>
    </div>
    -->
  </ion-content>
  <button class="bar bar-footer bar-balanced" ng-show="inConfig" ng-click="goConfig()">
    <div class="title"><ion-icon class="ion-log-in"></ion-icon> Configure seu Kerk Control</div>
  </button>
  <button class="bar bar-footer bar-balanced" ng-show="newDevice" ng-click="goDeviceConfig()">
    <div class="title"><ion-icon class="ion-log-in"></ion-icon> Novo Kerk encontrado, Configure!</div>
  </button>
</ion-view>