<ion-view view-title="Home">
  <ion-content class="background-kerk has-footer">
    <!--
    <div class="row">
    	<div class="col">
	    	<button class="button button-block button-transparent">
	    		<ion-icon class="ion-plus-round"></ion-icon> Adicionar Novo Dispositivo
	    	</button>
    	</div>
    </div>
    <div class="row">
    	<div class="col col-50" ng-repeat="place in placeList track by $index">
	    	<button class="button button-block button-transparent" ng-click="goPlaceControl(place)">
	    		{{place}}
	    	</button>
    	</div>
    </div>
    -->
    
    <div class="row">
        <div class="col">
            <div class="list card" ui-sref="placeControl">
                <div class="item item-image">
                    <img src="img/quarto-casal.jpg">
                </div>
                <div class="item item-divider">
                    <ion-icon class="ion-grid"></ion-icon> Quarto Casal
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list card">
                <div class="item item-image">
                    <img src="img/quarto-solteiro.jpg">
                </div>
                <div class="item item-divider">
                    <ion-icon class="ion-grid"></ion-icon> Quarto Solteiro
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list card">
                <div class="item item-image">
                    <img src="img/sala.jpg">
                </div>
                <div class="item item-divider">
                    <ion-icon class="ion-grid"></ion-icon> Sala
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list card">
                <div class="item item-image">
                    <img src="img/cozinha.jpg">
                </div>
                <div class="item item-divider">
                    <ion-icon class="ion-grid"></ion-icon> Cozinha
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list card">
                <div class="item item-image">
                    <img src="img/banheiro.jpg">
                </div>
                <div class="item item-divider">
                    <ion-icon class="ion-grid"></ion-icon> Banheiro
                </div>
            </div>
        </div>
    </div>
  </ion-content>
  <button class="bar bar-footer bar-balanced" ng-show="!kerk" ui-sref="firstSetUp">
    <div class="title"><ion-icon class="ion-log-in"></ion-icon> Configure seu Kerk Control</div>
  </button>
</ion-view>