/* Empty. Add your own CSS if you like */
body {
}

.back-black {
	background-color: black;
}

.background-kerk {
	background-image: url("../img/fundo.png");
	background-size: cover;
}

.basic-padding {
	padding: 20px;
}

.color-white {
	color: white;
}

.color-green {
	color: green;
}

.color-grey {
	color: grey;
}

.color-blue {
	color: blue;
}

.center {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.button.button-transparent {
	background-color: transparent;
	border-color: white;
	color: white;
}

.device-btn {
	width: 60px;
	height: 60px;
	border-width: 3px;
	border-style: solid;
}

.device-on {
	border-color: blue;
}

.device-off {
	border-color: grey;
}